<div class="header-container">
  <div class="logo-containter">
    <div class="logo" (click)="teste2()">Argeon - WebApp</div>
  </div>
  <nb-search type="rotate-layout" [(ngModel)]="teste" tag="rotate-layout"></nb-search>
  <div *ngIf="Logado">

    Bem vindo Senhor
  </div>
  <div *ngIf="!Logado">
    Por favor, execute o Login
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>



  <nb-actions size="medium" class="header-container" style=" justify-content: flex-end;" *ngIf="Logado">
    <nb-action>

    </nb-action>
    <nb-action>
      <nb-user [name]="UsernameDisplay" [picture]="AvatarDisplay"></nb-user>
    </nb-action>
    <nb-action>
      <button class="btn btn-primary logout" (click)="GoToLogin()" *ngIf="!Show">
        <i class="fa fa-2x fa-chevron-down {{Rotate}} "></i>Sair</button>
    </nb-action>
  </nb-actions>

  <nb-actions size="medium" class="header-container" style=" justify-content: flex-end;" *ngIf="!Logado">
    <nb-action>
      <button class="btn btn-primary logout" (click)="GoToLogin()" *ngIf="!Show">
        <i class="fa fa-2x fa-chevron-up {{Rotate}} "></i>Login</button>
    </nb-action>
  </nb-actions>

</div>