<div class="header-container">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
  <div class="logo-containter">
    <div class="logo" (click)="goToHome()"> Argeon - WebApp</div>
  </div>
  <nb-actions size="medium" class="header-container" style=" justify-content: flex-end;" *ngIf="Logado">
    <nb-action>

    </nb-action>
    <nb-action>
      <nb-user [name]="UsernameDisplay" [picture]="AvatarDisplay"></nb-user>
    </nb-action>
    <nb-action>
      <button class="btn btn-primary logout" (click)="GoToLogin()" >
        <i class="fa fa-2x fa-chevron-down {{Rotate}} "></i>Sair</button>
    </nb-action>
  </nb-actions>

  <nb-actions size="medium" class="header-container" style=" justify-content: flex-end;" *ngIf="!Logado">
    <nb-action>
      <button class="btn btn-primary logout" (click)="GoToLogin()">
        <i class="fa fa-2x fa-chevron-up {{Rotate}} "></i>Login</button>
    </nb-action>
  </nb-actions>

</div>