<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card class="centro">
      <nb-card-header>
        <h1>Login</h1>
      </nb-card-header>
      <nb-card-body>
        <button class="btn btn-primary" (click)="login()">
          <i class="socicon-google"></i> Login With Google
        </button>
        <button class="btn btn-default" (click)="logout()">Logout</button>
        <button class="btn btn-default">{{Username_NameDisplay }}</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>