<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <br>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-sidebar-header>
    </nb-sidebar-header>
    <ul>
      <div class="example-container" *ngFor="let hb of settings">
        <div class="container-btn">
          <button class="btn {{ hb.class }} btn-demo" (click)="Gerar(hb)" style="padding:10px">{{ hb.NameButton }}</button>
        </div>
      </div>
    </ul>
  </nb-sidebar>

  <nb-layout-column>
    <app-buttons></app-buttons>

     <app-grid></app-grid> 


  </nb-layout-column>
</nb-layout>

