<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <br>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-sidebar-header>
      <a href="#" class="btn btn-hero-success main-btn">
        <i class="ion ion-social-github"></i>
        <span>Support Us</span>
      </a>
    </nb-sidebar-header>
    <ul>
      <li class="menu-items">
        <a title="Dashboard" class="" href="/home">
          <i class="menu-icon nb-home"></i>
          <span class="menu-title">Pagina Inicial</span>
        </a>
      </li>
    </ul>
  </nb-sidebar>
  <nb-layout-column>
  <app-buttons></app-buttons>
  
    <app-grid></app-grid>
  </nb-layout-column>
</nb-layout>