<nb-layout>
    <nb-layout-header fixed>
        <app-header style="width:100%"></app-header>
    </nb-layout-header>
    <nb-layout-column>

        <nb-card class="Card99">
            <nb-card-header (click)="enviar()">Ola Player</nb-card-header>
            <nb-card-body>
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Seu nome</label>
                            <input type="text" [(ngModel)]="FichasData.NomePlayer" [ngModelOptions]="{standalone: true}" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Nome do seu Personagem</label>
                            <input [(ngModel)]="FichasData.NomeChar" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Alcunha</label>
                            <input type="text" [(ngModel)]="FichasData.Alcunha" [ngModelOptions]="{standalone: true}" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Sua idade</label>
                            <input [(ngModel)]="FichasData.IdadePlayer" [ngModelOptions]="{standalone: true}" type="number" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Idade do seu personagem</label>
                            <input [(ngModel)]="FichasData.IdadeChar" [ngModelOptions]="{standalone: true}" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="form-group dropdownArrow newSelect">
                                <label for="DropDownApps">Reinos</label>
                                <select [(ngModel)]="FichasData.Reino" class="form-control" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.value" *ngFor="let item of  Reinos">{{item.nome}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group dropdownArrow newSelect">
                                <label for="DropDownApps">Clãs</label>
                                <select [(ngModel)]="FichasData.Clan" class="form-control" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.nome" *ngFor="let item of  Clans">{{item.nome}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
            <nb-card-footer>

            </nb-card-footer>
        </nb-card>
        <div class='wrapper'>
            <div class='container' [dragula]='"bag-task1"' [dragulaModel]='Grimorio' [dragulaOptions]="options">
                <h1>Magias disponiveis</h1>
                <nb-card class="Card99" *ngFor="let item of Grimorio">
                    <nb-card-header>{{item.nome}}</nb-card-header>
                    <nb-card-footer></nb-card-footer>
                </nb-card>
            </div>
            <div class='container' [dragula]='"bag-task1"' [dragulaModel]='Grimorio' [dragulaOptions]="options">
                <h1>Suas Magias</h1>
                <nb-card class="Card99" *ngFor="let item of Grimorio">
                    <nb-card-header>{{item.observacao}}</nb-card-header>
                    <nb-card-footer></nb-card-footer>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
    <nb-layout-footer fixed>
        <h1>Okay</h1>
    </nb-layout-footer>
</nb-layout>

<!--         <div>
            <div class='wrapper'>
                <div class='container' [dragula]='"bag-task1"'>
                    <nb-card class="Card99" (click)="onClick(item)" *ngFor="let item of Grimorio">
                        <nb-card-header>{{item.Alcunha}}</nb-card-header>
                        <nb-card-body>
                            <div style=" text-align: center; ">
                                <img width="50%" height="50%" src="{{ImagePlayer}}">
                            </div>
                        </nb-card-body>
                        <nb-card-footer></nb-card-footer>
                    </nb-card>
                </div>


                <div class='container' [dragula]='"bag-task1"'>
                    <nb-card class="Card99" (click)="onClick(item)" *ngFor="let item of Grimorio">
                        <nb-card-header>{{item.Alcunha}}</nb-card-header>
                        <nb-card-body>
                            <div style=" text-align: center; ">
                                <img width="50%" height="50%" src="{{ImagePlayer}}">
                            </div>
                        </nb-card-body>
                        <nb-card-footer></nb-card-footer>
                    </nb-card>
                </div>
            </div>
        </div> -->