<nb-layout>
    <nb-layout-header fixed>
        <app-header style="width:100%"></app-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-sidebar-header>
        </nb-sidebar-header>
        <app-menu></app-menu>
    </nb-sidebar>
    <nb-layout-column>
        <nb-card class="angrytext">
            <nb-card-header style="text-align:center">
               <h2> Fichas de Usuarios</h2>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="dadosFicha">
                </ng2-smart-table>
            </nb-card-body>
            <nb-card-footer>
                    <toaster-container [toasterconfig]="config"></toaster-container>
                    <div class="row">
                        <div class="example-container" *ngFor="let hb of Omega">
                          <div class="container-btn" style="padding-right: 7px !important;">
                            <button class="btn {{ hb.class }} btn-demo" (click)="criarFichas(hb)">{{ hb.NameButton }}</button>
                          </div>
                        </div>
                      </div>
            </nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>



