.wrapper_Magico {
  //display: flex;
  //flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.25;
  background: #3d3780;
  color: #d1d1ff;
//margin-bottom: 1.5rem;
  border-radius: .5rem;
  border-color: #3d3780;
  box-shadow: 0 8px 20px 0 rgba(40,37,89,0.6);
  font-weight: 400;

}
.colunas{
box-shadow: 6px 0px 25px 0px #000000 !important;
}
.colunas2{
  box-shadow: -6px 0px 25px 0px #000000 !important;
  }
  

.teste{
  overflow-y: scroll; 
  height:40vh;
}

.row{
  text-align:center;
  display: flex;
  justify-content: center;

}

.angrytext {
  font-size: 70px;
  font-weight: bold; //color: #4794D3; //width: 300px;
  //margin: 90px auto;
  -webkit-animation-name: bounce-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-name: bounce-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@-webkit-keyframes bounce-in {
  0% {
      opacity: 0;
      -webkit-transform: scale(.3);
      transform: scale(.3);
  }
  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  51% {
      opacity: 1;
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
  70% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }
}

@keyframes bounce-in {
  0% {
      opacity: 0;
      transform: scale(.3);
  }
  50% {
      transform: scale(1);
  }
  51% {
      opacity: 1;
      transform: scale(1.0);
  }
  70% {
      transform: scale(0.9);
  }
}