<nb-layout>
    <nb-layout-header fixed>
        <app-header style="width:100%"></app-header>
    </nb-layout-header>
    <br>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-sidebar-header>
        </nb-sidebar-header>
        <app-menu></app-menu>
    </nb-sidebar>
    <nb-layout-column class="WrapItUp Mostrar">
        <nb-card class="Card99" (click)="onClick(item)" *ngFor="let item of Magia">
            <nb-card-header>{{item.nome}}</nb-card-header>
            <nb-card-body class="center" style="display:flex; align-items:center">
                <div style=" text-align: center; ">
                    <img width="50%" height="50%" src="{{item.url_imagem}}">
                </div>
            </nb-card-body>
            <nb-card-footer></nb-card-footer>
        </nb-card> 
    </nb-layout-column>
</nb-layout>