<nb-layout>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>
    <br>
    <nb-layout-column>
        <div (click)="ativar()">Omega</div>
        <div class="">
            <nb-card *ngFor="let item of DataBase1" class="{{classe}}" style="width:100%">
                <nb-card-header>{{item.nome}}</nb-card-header>
                <nb-card-body></nb-card-body>
                <nb-card-footer></nb-card-footer>
            </nb-card>
        </div>
    </nb-layout-column>
    <nb-layout-column>

        <nb-card *ngFor="let item of DataBase2" style="width:100%">
            <nb-card-header>{{item.nome}}</nb-card-header>
            <nb-card-body></nb-card-body>
            <nb-card-footer></nb-card-footer>
        </nb-card>
    </nb-layout-column>
</nb-layout>
<!-- 
<nb-layout >
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>
    <br>
    <nb-layout-column>
        OMEGA
    </nb-layout-column>
    <nb-layout-column>
        OMEGA
    </nb-layout-column>
    <nb-layout-column>
        OMEGA
    </nb-layout-column>
</nb-layout> -->